.card{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.card:hover{
  box-shadow: 12px 12px 14px 0 rgba(0,0,0,.25)!important;
}
img.card-img-top:hover{
opacity:0.9;
}
